<div id="main">
    <%- include("./partials/header.ejs") %>

        <div id="content">
            <%- include("./partials/sidebar.ejs") %>

                <div id="intension">
                    <div id="newfeed">
                        <div class="main-content">
                            <!--đăng nội dung-->
                            <div class="user-information">
                                <div class="user-avt">
                                   <img src="<%= user.avatar %>" alt="">
                                </div>
                                <div class="user-in4">
                                    <% let studentCode = (user.email)? user.email.substring(0,8):"None"%>
                                    
                                    <b>
                                        <%= user.fullname %>
                                        <% if(user._id == currentUser._id && user.role == "Student") { %>
                                            &ensp;<i class="fas fa-pen-fancy" id="modaledit"></i>
                                        <% } %>
                                    </b>
                                    <p><i>Khoa: </i> <%= user.faculty || "None" %></p>
                                    <p><i>Lớp: </i> <%= user.class || "None" %></p>
                                    <p><i>MSSV: </i> <%=  studentCode %></p>
                                </div>
                            </div>

                            <!--modal sửa thông tin-->
                            <div id="myModal" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <div>
                                        <form action="#" method="post">
                    
                                            <h3>CHỈNH SỬA THÔNG TIN</h3>
                                            <div class="avt-edit">
                                                <span>
                                                    <img src="../img/img-1.jpg" id="edit-avt">
                                                </span>
                                            </div>
                                            <div class="name-edit">
                                                <label for="name">Tên hiển thị</label><br>
                                                <input type="text" id="edit-name" placeholder="Nhập tên">
                                            </div>
                                            <div class="facl-edit">
                                                <label for="edit-facl">Khoa</label><br>
                                                <select name="faculty" id="edit-facl">
                                                    <option value="">Khoa</option>
                                                    <% faculty.forEach(faculty => { %>
                                                        <option value="<%= faculty %>"><%= faculty %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                            <div class="class-edit">
                                                <label for="edit-class">Lớp</label><br>
                                                <select name="classes" id="edit-class">
                                                    <option value="">Lớp</option>
                                                    <option value="CNTT">18020201</option>
                                                    <option value="Đ-ĐT">18020202</option>
                                                    <option value="QTKD">18020203</option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="saveModalButton" data-dismiss="modal">Lưu thay đổi</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!---->
                            <div class="post-container">
                                <div class="post">
                                    <div class="post-row">
                                        <div class="user-profile">
                                            <img src="../img/avt.jpg" alt="">
                                            <div>
                                                <p>Nguyễn Văn A</p>
                                                <span>29-Dec-21 10:59pm</span>
                                            </div>
                                        </div>
                                        <a href="#"><i class="fas fa-ellipsis-v" id="set-stt"></i></a>
                                        <div class="setting-stt" id="setting-stt">
                                            <ul class="menu">
                                                <li id="modaledit-2">Chỉnh sửa</li>
                                                <li>Xoá</li>
                    
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="myModal-2" class="modal">
                                        <!-- Modal content -->
                                        <div class="modal-content">
                                            <span class="close" id="close-edit-post">&times;</span>
                                            <div>
                                                <form action="#" method="post">
                    
                                                    <h3>CHỈNH SỬA BÀI VIẾT</h3>
                                                    <div class="avt-icon">
                                                        <a href="#"><img src="../img/img-1.jpg" alt=""></a>
                                                        <p>Nguyễn Văn A</p>
                    
                                                    </div>
                                                    <div class="stt-input">
                                                        <textarea rows="3" placeholder="Bạn ơi nghĩ gì thế?"></textarea>
                    
                                                        <div class="add-post-link">
                                                            <a href="#"><i class="fas fa-video"></i> Video</a>
                                                            <a href="#"><i class="fas fa-images"></i> Hình ảnh</a>
                                                            <select name="faculty" id="">
                                                                <option value="">Phòng/Khoa</option>
                                                                <option value="CNTT">CNTT</option>
                                                                <option value="Đ-ĐT">Đ-ĐT</option>
                                                                <option value="QTKD">QTKD</option>
                                                            </select>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" id="saveModalButton-2" data-dismiss="modal">Lưu thay đổi</button>
                                                        </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="post-text">Chúc mọi người Tết vui vẻ</p>
                                <img src="../img/download.jpg" class="post-img">
                                <div class="post-act">
                                    <div>
                                        <i class="far fa-comment-dots"></i>
                                        Bình luận
                                    </div>
                                </div>
                                <div class="post-cmt">
                                    <div class="cmts">
                                        <img src="../img/avt.jpg" alt="">
                                        <span>
                                            <b>Nguyễn Văn B
                                                <small>
                                                    <i>&ensp; 30-Dec-21 2:04pm</i>
                                                </small>&emsp;
                                                <i class="fas fa-ellipsis-v" id="set-cmt"></i>
                                            </b>
                    
                                            <p>lorem Đẹp quá quá đẹp Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi culpa itaque reiciendis, labore, excepturi quas unde corporis, molestiae sint soluta maiores ut earum impedit. Harum accusantium tempore expedita odio sint?</p>
                    
                                        </span>
                                        <div>
                                            <div class="setting-cmt" id="setting-cmt">
                                                <ul class="menu">
                                                    <li><a href="">Chỉnh sửa</a></li>
                                                    <li><a href="">Xoá</a></li>
                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-cmts">
                                        <div>
                    
                                            <img src="../img/avt.jpg" alt="">
                                            <input type="text" placeholder="Nhập nội dung">
                                            <button>Đăng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="right-sidebar">
                        <div class="new-notices">
                            <div class="head-notice">
                                <div class="caption-notice">
                                    <span>
                                        <img src="../img/new.png">
                                        THÔNG BÁO MỚI
                                    </span>
                                    <a href="#">Xem tất cả</a>
                                </div>
                            </div>
                            <div class="notices">
                                <ul>
                                    <li class="green">
                                        <div class="messages">
                                            <small><i>[Phòng Đại học] - 30/12/2021</i></small>
                                            <br>
                                            <a href="#"><b>[Chính thức] - Lịch thi lại do hoãn thi môn Tiếng Anh</b></a>
                                            <br>
                                            <small>[Chính thức] - Lịch thi lại do hoãn thi môn Tiếng Anh</small>
                                        </div>
                                    </li>
                                    <li class="white">
                                        <div class="messages">
                                            <small><i>[Phòng Đại học] - 30/12/2021</i></small>
                                            <br>
                                            <a href="#"><b>[Chính thức] - Lịch thi lại do hoãn thi môn Tiếng Anh</b></a>
                                            <br>
                                            <small>[Chính thức] - Lịch thi lại do hoãn thi môn Tiếng Anh</small>
                                        </div>
                                    </li>
                                    <li class="green">
                                        <div class="messages">
                                            <small><i>[Phòng Đại học] - 30/12/2021</i></small>
                                            <br>
                                            <a href="#"><b>[Chính thức] - Lịch thi lại do hoãn thi môn Tiếng Anh</b></a>
                                            <br>
                                            <small>[Chính thức] - Lịch thi lại do hoãn thi môn Tiếng Anh</small>
                                        </div>
                                    </li>
                                    <li class="white">
                                        <div class="messages">
                                            <small><i>[Phòng Đại học] - 30/12/2021</i></small>
                                            <br>
                                            <a href="#"><b>[Chính thức] - Lịch thi lại do hoãn thi môn Tiếng Anh</b></a>
                                            <br>
                                            <small>[Chính thức] - Lịch thi lại do hoãn thi môn Tiếng Anh</small>
                                        </div>
                                    </li>
                                    <li class="green">
                                        <div class="messages">
                                            <small><i>[Phòng Đại học] - 30/12/2021</i></small>
                                            <br>
                                            <a href="#"><b>[Chính thức] - Lịch thi lại do hoãn thi môn Tiếng Anh</b></a>
                                            <br>
                                            <small>[Chính thức] - Lịch thi lại do hoãn thi môn Tiếng Anh</small>
                                        </div>
                                    </li>
                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                    <div class="print-values">
                        <p id="valueList"></p>
                    </div>
                </div>
        </div>
</div>
