<div id="main">
    <%- include("./partials/header.ejs") %>

        <div id="content">
            <%- include("./partials/sidebar.ejs") %>

                <div id="intension">
                    <div class="form_createNotify">
                        <form id="form" action="/noti/edit/<%=notification._id%>" method="post" enctype="multipart/form-data">
                            <h1>TẠO THÔNG BÁO MỚI</h1>

                            <div class="field">
                                <label for="title">Title</label></br>
                                <input type="text" id="title" name="title" value="<%= notification.title %>"></br>

                                <label for="file">File</label>
                                <input type="file" id="file" name="files" multiple></input>

                                <select name="division" id="division">
                                    <% notification.createBy.role.forEach(role=> {
                                        if(role === notification.division){
                                        %>
                                        <option value="<%= role %>" selected>
                                            <%= role %>
                                        </option>
                                        <% }else{ %>
                                            <option value="<%= role %>">
                                                <%= role %>
                                            </option>
                                    <% } }); %>
                                </select>
                                </br>

                                <label for="mytextarea">Content</label></br>
                                <textarea id="mytextarea" name="body"><%= notification.body %></textarea>

                            </div>

                            <button id="btnCreate" class="btn-signIn" type="submit">CẬP NHẬT</button>


                            <% if(message){ %>
                                <div id="error">
                                    <%= message %>
                                </div>
                            <% } %>
                        </form>
                    </div>

                    <div class="print-values">
                        <p id="valueList"></p>
                    </div>
                </div>
        </div>
</div>
